/** @format */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.space-invaders-title {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  /* background-color: black; */
  /* overflow: hidden; */
  margin-top: 10vh;
}

.title {
  font-family: 'Press Start 2P', cursive;
  color: limegreen;
  font-size: 4rem;
  text-shadow: 2px 2px 5px rgba(0, 255, 0, 0.7);
  /* position: relative; */
  white-space: nowrap;
  animation: bounceTitle 7.5s infinite ease-in-out alternate;
}

@keyframes bounceTitle {
  0% {
    transform: translateX(-5vw);
  }
  100% {
    transform: translateX(5vw); /* Adjust distance as needed */
  }
}
